body {
  width: auto;
  height: auto;
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 100%);
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}
#canvas {
  background: #ffffff;
  border: solid 2px #7ee8fa;
}
